.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.landingbtn {
    margin-top: 20px;
    color: white;
    font-family: 'Raleway';
    font-size: 30px;
    border: 2px solid white;
    padding: 10px;
    border-radius: 5%;
    background-color: transparent; 
}

.landingbtn:hover {
background-color: white; 
transition: background-color .3s linear;
color: black;
cursor: pointer;
transform:scale(1.2);
}

.hero {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  width: 100%;
  background-color: #1B242F;
  height:50px; 
  color: white;
  border-bottom: 3px solid #bf0154;
  font-family: 'Raleway';
  font-size: 20px;
}

.link {
  margin: 10px 30px;
  float: left;
  color: white;
  text-decoration: none;
  font-family: 'Roboto Slab', serif;
}

.link:hover {
  transition: background-color .8s linear;
  color: #3de71b;
  cursor: pointer;
}

.linkBox {
  margin-left: 20px;
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 440px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  border: 3px solid #f1f1f1;
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  transition: transform 1.5s;
  transform-style: preserve-3d;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-name: flip;
  -moz-animation-name: flip;
  
}


/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  padding-top: 50px;
  background-color: black;
  color: white;
  z-index: 0;
}

/* Style the back side */
.flip-card-back {
  padding-top: 50px;
  background-color: white;
  color: black;
  z-index: 1;
  transform: rotateY(180deg);
}

.flip-card-button {
  margin-top: 10px;
  color: white;
  font-size: 20px;
  border: 2px solid white;
  padding: 5px;
  border-radius: 5%;
  background-color: transparent; 
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
}

.flip-card-button:hover {
  cursor: pointer;
    animation-name: bounce;
    -moz-animation-name: bounce;
}

@keyframes flip {
	0% {
		-webkit-transform: rotateY(180deg);
		-ms-transform:     rotateY(180deg);
        transform: rotateY(180deg);
	}
	100% {
		-webkit-transform: rotateY(0deg);
		-ms-transform:     rotateY(0deg);
        transform: rotateY(0deg);
	}
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		-ms-transform:     translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-10px);
		-ms-transform:     translateY(-10px);
		transform:         translateY(-10px)
	}
	60% {
		-webkit-transform: translateY(-5px);
		-ms-transform:     translateY(-5px);
		transform:         translateY(-5px)
	}
}